@use './../../sass/index.scss/' as *;

.mySwipers {
  .swiper-button-prev,
  .swiper-button-next {
    &::after {
      color: white !important;
      /* background: radial-gradient(black, transparent); */

      font-size: 20px !important;

      font-weight: 900 !important;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    box-shadow: 0 2px 10px rgb(54 54 54 / 15%);
    top: 40% !important;
    width: 60px !important;

    border: 1px solid rgb(133, 131, 131);
    background: rgba(0, 0, 0, 0.3) !important;
    border-radius: 50% !important;
    height: 60px !important;

    @include mobilesmall {
      height: 35px !important;
      width: 35px !important;
    }
    &:hover {
      background: #32a44c !important;
    }
  }
  .swiper-button-next {
    @include mobilesmall {
      height: 35px !important;
      width: 35px !important;

      right: 20px !important;
    }
  }
  .swiper-button-prev {
    @include mobilesmall {
      height: 35px !important;
      width: 35px !important;

      left: 20px !important;
    }
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    min-height: 0px !important;
    cursor: pointer;

    @include tablet {
    }
    @include mobilesmall {
      flex-direction: row;
      align-items: flex-start !important;
    }

    .slide_aside {
      // display: flex;
      // justify-content: flex-start;
      // align-items: center;

      @include mobilesmall {
        display: flex;
        justify-content: center;
        // align-items: center;
        flex: 1.5;
      }
      .silderl_new {
        width: 85%;
        height: 240px;
        flex-shrink: 0;
        transition: 0.3s all ease-in-out !important;

        // margin-bottom: 15px;
        // transition: 1s ease-in-out;

        &:hover {
          transform: rotate(10deg);
          // transition: all 900ms linear;
        }

        @include mobile {
          width: 80%;
          height: 140px;
        }
        @include mobileSpecial {
          height: 120px;
        }
      }
    }

    width: 100%;
    .slide_content {
      display: flex;
      flex-direction: column;
      // justify-content: center;

      flex: 1;

      width: 100%;

      margin-top: 20px;

      @include mobilesmall {
        margin-top: 0;
        flex: 2;
        // flex-direction: row;
        display: block !important;
      }
      header {
        width: 100%;
        .slide_top {
          font-size: 13px;

          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          margin-bottom: 4rem;

          flex: 1;
          @include mobilesmall {
            width: 90%;
            margin: auto auto 5rem auto;
          }
          .slide_name {
            cursor: pointer;
            margin-bottom: 1rem;

            margin-top: 1rem;

            display: flex;
            flex-direction: column;
            & > p {
              text-align: left;

              font-weight: 700;
              font-size: 18px;

              margin-top: auto;
            }
            &:hover {
              color: $green;
              text-decoration: underline;
            }
          }

          .slide_people {
            color: rgb(101, 100, 100);
          }
        }
      }

      //footer
      footer {
        width: 100%;
        .slide_bottom {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;

          margin-top: auto;
          @include mobilesmall {
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            width: 90%;
            margin: auto;
          }
          .slide_price {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            font-size: 14px;

            margin-top: auto;
            @include mobilesmall {
              margin-bottom: 20px;
            }
            & > span:first-child {
              color: rgb(101, 100, 100);
            }
            & > span:last-child {
              font-size: 20px;
              font-weight: 700;
              @include tablet {
                font-size: 15px;
              }
              @include mobile {
                font-size: 17px;
              }
            }
          }
          .slide_btn {
            // flex: 1;

            // margin-top: auto;
            & > button {
              // margin-top: auto;
              display: flex;
              align-items: center;

              outline: none;
              border: none;

              border: 1px solid $green;

              background: white;
              color: $green;

              font-size: 15px;
              padding: 0.7rem 1.5rem 0.7rem 1.5rem;

              border-radius: 10px;

              cursor: pointer;

              transition: 300ms ease-in-out !important;
              &:hover {
                background: $red;
                color: white;
              }
              & > svg {
                margin-left: 5px;
              }
            }
          }
        }
      }
    }
  }
}
