.newDish_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  column-gap: 20px;
  margin-left: 5px;
  // margin-bottom: 200px;
}

.BakedNoodles_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  column-gap: 20px;

  // animation: drwopdow 0.5s linear !important;
  // transition: 500ms ease-in-out !important;
  // @keyframes drwopdow {
  //   0% {
  //     height: 0;
  //   }
  //   100% {
  //     height: 100%;
  //   }
  // }
}
