@use './../../../../../sass/index.scss' as *;
.spaghetti_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  column-gap: 20px;
  margin-left: 5px;
}
.spaghetti_item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(25% - 15px);
  margin-bottom: 20px;
  @include mobile {
    flex-basis: calc(50% - 15px);
  }
  @include mobilesmall {
    flex-basis: 100%;

    // padding-bottom: 50px;

    height: 250px;
    border-top: 1px solid rgb(233, 231, 231);
  }
  .spaghetti_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    flex: 1;
    @include mobilesmall {
      display: flex;
      flex-direction: row;
      height: 80%;

      margin-top: 20px;
    }
    .spaghetti_aside {
      height: 300px;
      transition: 0.3s all ease-in-out !important;

      position: relative;
      .rippon {
        position: absolute;
        right: 0;
        top: 0;
        transition: all 3s ease-in-out !important;
        // overflow: hidden;

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        .chill_ribbon {
          position: relative;
          // right: 0;

          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 50px;
          max-height: 20px;

          transition: all 3s ease-in-out !important;

          cursor: pointer;

          margin-bottom: 10px;
          & > svg {
            font-size: 20px;

            color: #d50e15;

            z-index: 5;

            margin-right: 5px;

            margin-left: 10px;

            cursor: pointer;

            transition: all 0.4s ease-in-out !important;
            // &:hover > .ribbon_content {
            //   display: block;
            // }

            // overflow: hidden;
            &:hover {
              color: white;
            }
          }
          &::before {
            position: absolute;
            content: 'CAY';
            font-size: 12px;
            padding: 5px 0px 5px 0px;
            // top: 0;
            right: 0;
            left: -70%;
            // bottom: 0;
            background: $red;
            // height: 20px;
            color: $white;

            // display: none;
            transition: all 0.3s ease-in-out !important;
            border-radius: 25px;

            text-align: center;

            visibility: hidden;
            opacity: 0;
          }
          &:hover:before {
            visibility: visible;
            opacity: 1;
            left: -100%;
            display: block;
            transition: all 0.3s ease-out !important;
          }
          &:hover > svg {
            color: white;
          }
          // .ribbon_content {
          //   position: absolute;
          //   display: none;
          // }
        }
        //vegetablet

        .vegetable_ribbon {
          position: relative;
          // right: 0;

          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 70px;
          max-height: 20px;

          transition: all 3s ease-in-out !important;

          cursor: pointer;

          margin-bottom: 10px;
          & > svg {
            font-size: 17px;

            color: #006a31;

            z-index: 5;

            margin-right: 5px;

            margin-left: 10px;

            cursor: pointer;

            transition: all 0.4s ease-in-out !important;
            // &:hover > .ribbon_content {
            //   display: block;
            // }

            // overflow: hidden;
            &:hover {
              color: white;
            }
          }
          &::before {
            position: absolute;
            content: 'NGON PHẢI THỬ';
            font-size: 12px;
            padding: 5px 5px 5px 25px;
            // top: 0;
            right: 0;
            left: -70%;
            // bottom: 0;
            background: #006a31;
            // height: 20px;
            color: $white;

            // display: none;
            transition: all 0.3s ease-in-out !important;
            border-radius: 25px;

            text-align: left;

            visibility: hidden;
            opacity: 0;
          }
          &:hover:before {
            visibility: visible;
            opacity: 1;
            left: -100%;
            display: block;
            transition: all 0.3s ease-out !important;
          }
          &:hover > svg {
            color: white;
          }
          // .ribbon_content {
          //   position: absolute;
          //   display: none;
          // }
        }
      }
      @include mobilesmall {
        height: 100%;
        flex: 1;
      }

      &:hover {
        // background: rgba(0, 0, 0, 0.8);
        // opacity: 1;
      }
      &:hover > .spaghetti_icon {
        opacity: 1;
        transform: scale(1);

        // opacity: 1;
      }
      .spaghetti_icon {
        transform: scale(0);
        transition: 0.3s all ease-in-out !important;

        opacity: 0;
        position: absolute;
        top: 45%;
        left: 40%;
        transform: translate(-50%, -50%);

        // &:hover > svg {
        //   transform: scale(1);
        // }
        & > svg {
          // transform: scale(0);

          cursor: pointer;

          font-size: 45px;

          color: rgb(231, 223, 223);
        }
      }
      & > img {
        object-fit: contain;
        cursor: pointer;
        height: 100%;
        transition: 0.3s all ease-in-out !important;
        &:hover {
          // opacity: 0.7;
          transform: rotate(10deg);
          transition: 0.3s all linear;
        }
      }
    }
    .spaghetti_content {
      display: flex;
      justify-content: flex-start;
      // padding-left: 10px;
      align-items: flex-start;
      flex-direction: column;

      width: 100%;

      // padding-right: 15px;
      margin-left: auto;
      margin-right: auto;

      // background: red;

      flex: 1;

      height: 100%;
      @include mobilesmall {
        padding-left: 15px;
        flex: 1.5;
      }
      header {
        display: flex;
        flex-direction: column;

        flex: 1;
        .spaghetti_top {
          margin-bottom: 45px;
          display: flex;
          flex-direction: column;

          flex: 1;

          .spaghetti_name {
            margin-top: auto;

            font-family: Nunito, sans-serif;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 10px;
            cursor: pointer;
            & > span {
              &:hover {
                color: $green;
                text-decoration: underline;
              }
            }
            @include mobilesmall {
              font-size: 17px;
              font-weight: 600;
              margin-bottom: 20px;
            }
          }
          .spaghetti_detail {
            margin-top: auto;

            font-size: 13px;

            color: rgb(110, 105, 105);
            @include mobilesmall {
              font-size: 12px;
            }
          }
        }
      }
      footer {
        width: 100%;
        .spaghetti_bottom {
          font-size: 14px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          flex: 1;

          // margin-top: auto;
          @include mobilesmall {
            display: block;
          }
          .spaghetti_price {
            // margin-top: auto;

            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            // & > span:first-child {
            //   font-size: 12px;
            //   // font-weight: 600;
            // }

            line-height: 2.5rem;
            font-size: 13px;
            color: black;

            & > span:first-child {
              color: rgb(110, 105, 105);
            }
            & > span:last-child {
              font-size: 20px;
              font-weight: 700;
              @include mobilesmall {
                font-size: 16px;

                color: black;
              }
            }
          }
          .spaghetti_btn {
            // margin-top: auto;
            & > button {
              cursor: pointer;

              border-radius: 10px;

              border: none;
              outline: none;

              border: 1px solid $green;

              background: white;

              display: flex;
              align-items: center;

              color: $green;

              transition: 300ms ease-in-out !important;
              &:hover {
                background: $red;
                color: $white;
              }
              & > span {
                padding: 5px 8px 5px 8px;
              }
            }
          }
        }
      }
    }
  }
}
