@use './../../../sass/index.scss' as *;
.checkout {
  margin-top: 140px;

  max-width: 1140px;

  margin-left: auto;
  margin-right: auto;

  min-height: 70vh;

  @include mobile {
    margin-top: 120px;
  }

  .checkout_swapper {
    margin: 170px auto 0 auto;

    @include mobile {
      margin: 0px;
    }

    .checkout_btn {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      margin-bottom: 30px;

      @include mobile {
        flex-direction: column;

        row-gap: 10px;
      }
      & > button {
        padding: 10px 0;

        width: 230px;

        margin-right: 10px;

        font-size: 17px;

        border: none;
        border-radius: 10px;

        background: $green;

        color: $white;

        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: 100%;
        }
        & > svg:first-child {
          margin-right: 10px;
        }
        & > svg:last-child {
          margin-left: 10px;
        }
      }
      .btn-back {
        background: rgb(138, 138, 138);
      }
    }

    .checkout_progress {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      //step

      width: 95%;
      margin-right: auto;
      margin-left: auto;

      @include mobilesmall {
        flex-direction: column;
      }
      .active {
        @include mobile {
          flex: 2 !important;
          background: #006a31 !important;
          width: 100%;
        }
        .step_number {
          & > span {
            background: #00b041;

            color: white !important;

            @include mobile {
              background: #006a31 !important;
            }
          }
        }
        .step_name {
          display: block !important;
          & > p {
            color: #00b041;
          }
        }
      }
      .step:not(:nth-child(1)) {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        flex: 1;

        @include mobile {
          margin: 0;

          background: #00b041;

          flex-direction: row;

          align-items: flex-start;
        }
        @include mobilesmall {
          width: 100%;
        }

        .step_number {
          z-index: 1;

          & > span {
            position: relative;
            display: flex;

            justify-content: center;
            align-items: center;

            height: 50px;
            width: 50px;

            border-radius: 50%;

            font-size: 15px;

            border: 1px solid #e1e1e1;

            color: $black;

            @include mobile {
              height: 50px;
              width: 50px;

              border: none;
            }

            &::before {
              content: '';
              position: absolute;
              height: 1px;
              left: -220px;
              border-top: 1px dashed #000;

              width: 220px;

              @include mobile {
                display: none;
              }
            }
          }
        }
        .step_name {
          font-size: 14px;

          font-weight: 500;

          color: #738c80;

          margin-top: 15px;

          @include mobile {
            font-size: 11px;
            display: none;
          }
        }
      }
      .step:first-child {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        flex: 1;
        @include mobile {
          margin: 0;

          flex: 1;

          background: #00b041;

          flex-direction: row;

          align-items: flex-start;
        }

        .step_number {
          & > span {
            display: flex;

            justify-content: center;
            align-items: center;

            height: 50px;
            width: 50px;

            border-radius: 50%;

            color: $black;

            font-size: 15px;
            // background: $white;

            border: 1px solid #e1e1e1;

            @include mobile {
              height: 50px;
              width: 50px;

              border: none;
            }
          }
        }
        .step_name {
          font-size: 14px;

          font-weight: 500;

          margin-top: 15px;

          color: #738c80;

          display: none;

          @include mobile {
            font-size: 11px;
          }
        }
      }
    }
    .activeBtn {
      display: none;
    }
    .actibeblock {
      display: block;
    }
  }
}
.activenone {
  display: none !important;
}
