@use './../../sass/index.scss' as *;
.menu_Link {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  font-size: 14px;
  @include mobile {
    align-items: center;
    flex-direction: column;

    margin-left: -50px;
  }
  // .nav_Link-block {
  //   @include mobile {
  //     flex-direction: column;
  //     position: absolute;
  //     top: 0;
  //     left: 50%;

  //     transform: translateX(-50%);
  //   }
  // }

  & > li {
    //  padding: 0.5rem;
    width: 85px;
    list-style: none;

    cursor: pointer;

    display: flex;
    justify-content: center;

    position: relative;
    color: white;

    z-index: 3;

    @include mobilesmall {
      padding-top: 10px;
      width: 100%;
      text-align: center;
    }

    // padding: 10px;
    & > span {
      & > a {
        color: white;
        text-decoration: none;

        font-size: 14px;
        font-weight: 600;

        display: block;

        @include mobilesmall {
          font-size: 16px;
        }
        // padding: 10px;
      }
    }
    // @include mobile {
    //   padding-bottom: 2rem;
    // }

    &:hover {
      background: #125a25;

      border-radius: 25px;
    }
    &:hover > .dropdow_list {
      display: block;
    }
    .dropdow_list {
      display: none;

      position: absolute;
      top: 160%;
      left: 0;
      background: #125a25;
      width: 300%;
      z-index: -1;
      @include mobilesmall {
        display: none !important;
      }
      .dropdow_item {
        padding: 1rem;
        &:hover {
          background: $green;
        }
      }
      &::before {
        display: inline-block;
        content: '';
        height: 35px;
        width: 85px;

        z-index: 1;

        background: #125a25;
        margin-top: -150px;
      }
    }
  }
}
