@use './../../../sass/index.scss' as *;
.cart {
  margin-top: 150px;

  // scroll-behavior: smooth;
  // transition: 2s ease-in-out !important;

  // margin-top: 129px;
  // .active {
  //   background: red;
  // }
  min-height: 80vh;
  @include mobilesmall {
    width: 95%;
    margin: auto;
    // margin-top: 100px;
  }
  .cart_wrapper {
    width: 75%;
    margin: auto;
  }
}
