@use './../../../sass/index.scss' as *;
.cart {
  margin-top: 140px;

  // scroll-behavior: smooth;
  // transition: 2s ease-in-out !important;

  // margin-top: 129px;
  // .active {
  //   background: red;
  // }
  min-height: 100vh;

  @include tablet {
    min-height: 60vh;
  }
  // @include mobile {
  //   min-height: 80vh;
  // }
  @include mobilesmall {
    width: 100%;
    margin: auto;
    min-height: 0;
    // min-height: 100vh;
    // margin-top: 100px;
  }
  .active_error {
    visibility: visible !important;
    opacity: 1 !important;
    right: 30px !important;
  }
  .cart_Error {
    position: fixed;
    height: 60px;
    width: 280px;

    background: rgb(214, 24, 24);

    // top: 50px;
    // right: 50px;
    // left: 0;
    top: 20px;
    right: -100%;

    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    visibility: hidden;
    opacity: 0;

    transition: 5s ease-in !important;
    & > svg {
      position: absolute;
      right: 10px;
      top: 5px;

      font-size: 15px;

      color: $white;

      cursor: pointer;
    }
    & > p {
      position: absolute;

      top: 30%;
      left: 20%;
      transform: translate(-20%, -20%);

      color: white;

      font-size: 14px;
    }
  }
  .cart_wrapper {
    // margin-top: 500px;
    width: 75%;
    margin: auto;
    position: relative;
    @include tablet {
      width: 90%;
    }
    @include mobilesmall {
      width: 100%;
    }
    .cart_block {
      // background: black;
      padding-top: 70px;
      margin-left: 30px;
      @include tablet {
        padding-top: 0px;
        max-height: 500px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 7px;
        }
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px #555555;
          background-color: #081b27;
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgb(110, 109, 109);
          // border: 2px solid #555555;
          outline: 1px solid slategrey;

          border-radius: 10px;
        }
      }
      @include mobilesmall {
        width: 95%;
        padding-top: 100px;
        margin: auto 0 auto auto;
      }

      .cart_title {
        // margin-top: 100px;
        font-size: 25px;

        cursor: pointer;
        margin-bottom: 20px;

        display: flex;
        column-gap: 15px;
        & > span {
          font-weight: 600;
          margin-bottom: 20px;
          &:hover {
            color: $green;
          }
        }
      }
    }

    //total
    .cart_total {
      // position: absolute;
      // right: 0;
      margin-top: 50px;

      font-weight: 600;

      margin-bottom: 50px;
      @include mobile {
        margin-bottom: 30px;
      }
      @include mobilesmall {
        width: 100%;

        position: sticky;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);

        bottom: 0;
        margin-bottom: 0;
        // margin-top: auto;
      }

      .total_title {
        font-size: 25px;

        margin-bottom: 50px;

        display: flex;
        justify-content: flex-end;

        @include mobilesmall {
          justify-content: space-between;

          margin-bottom: 10px;

          padding-top: 10px;

          font-size: 20px;

          padding-left: 20px;
          padding-right: 20px;
          margin-left: auto;
          margin-right: auto;
        }
        & > span:first-child {
          color: $green;

          font-weight: 700;

          @include mobilesmall {
            color: $black;

            font-weight: 600;
          }
        }
        & > span:last-child {
          color: $red;
          font-weight: 700;

          margin-left: 10px;
          @include mobile {
            margin-left: 30px;
          }
          @include mobilesmall {
            font-size: 24px;
          }
        }
      }
      .total_payload {
        display: flex;
        justify-content: flex-end;

        @include mobilesmall {
          justify-content: space-around;
          // flex-direction: column;
          padding-left: 10px;
          padding-right: 10px;
          margin-left: auto;
          margin-right: auto;
        }
        .total_payload--btn {
          position: relative;

          &::before {
            position: absolute;
            content: '';

            left: -100%;

            top: 0;
            bottom: 0;

            background: rgb(100, 208, 99);

            opacity: 0.8;

            border-radius: 8px;

            transition: 2s ease-in-out !important;
          }
        }
        .active__Loading--pay {
          &::before {
            left: 0;

            right: 0;
          }
        }
        & > button {
          padding: 12px 30px 12px 30px;

          cursor: pointer;

          border: none;

          font-size: 15px;

          color: white;

          border-radius: 10px;

          display: flex;
          align-items: center;

          @include mobilesmall {
            padding: 12px 20px;
          }

          // display: flex;
          // justify-content: space-around;
          // align-items: center;
          // & > span {
          //   margin-left: 10px;
          // }

          @include mobilesmall {
            // padding: 10px;

            border-radius: 10px;

            margin-bottom: 10px;

            justify-content: center;

            // font-size: 17px;
          }
          & > svg {
            font-size: 20px;

            @include mobilesmall {
              font-size: 15px;
            }
          }
        }
        & > button:first-child {
          background: #738c80;

          border: none;

          & > span {
            margin-left: 30px;

            &:hover {
              text-decoration: underline;
            }
            @include mobilesmall {
              margin-left: 5px;
            }
          }
          &:hover {
            opacity: 0.9;
          }
        }
        & > button:last-child {
          margin-left: 20px;

          border: none;

          background-color: $green;

          @include mobilesmall {
            margin-left: 0;
          }

          &:hover {
            opacity: 0.9;
          }
          & > span {
            margin-right: 30px;

            &:hover {
              text-decoration: underline;
            }
            @include mobilesmall {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
