@use './sass/' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}
html {
  font-size: 60%;
  line-height: 3rem;
  // scroll-behavior: smooth;
  @include mobile {
    font-size: 80%;
    line-height: 2.5rem;
  }
  @include tablet {
    font-size: 62.5%;
    line-height: 2.5rem;
  }
}
body {
  font-family: $font-family;
  min-height: 100vh;
  line-height: 1.5;
}
input,
button,
select,
textarea {
  font: inherit;
}
img,
picture {
  display: block;
  max-width: 100%;
}
/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
