.dashboard__table--item:last-child {
  border: none;
}
.dashboard__table--item {
  display: flex;
  align-items: center;

  padding: 15px 0;

  border-bottom: 1px solid rgb(223, 217, 217);

  .dashboard__table--left {
    flex: 1;

    display: flex;
    align-items: center;
    .dashboard__table--tracking {
      flex: 1;
      font-weight: 700;
    }
    .dashboard__table--product {
      flex: 2;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      column-gap: 10px;

      row-gap: 10px;
      .dashboard__table--product--group {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        column-gap: 5px;
        & > img {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
  .dashboard__table--right {
    flex: 2;

    display: flex;

    .dashboard__table--status {
      & > span {
        padding: 10px;
        background: #bc7f30;
        border-radius: 5px;

        color: white;
      }
      .refund {
        background: #bc1309;
      }

      .shipping {
        background: #2790f2;
      }

      .succerss {
        background: #30a544;
      }
    }
    .dashboard__table--date,
    .dashboard__table--amount,
    .dashboard__table--payment,
    .dashboard__table--status {
      flex: 1;
    }

    .dashboard__table--amount {
      & > span {
        font-weight: 700;
      }
    }
    .dashboard__table--payment {
      & > span {
        padding: 10px 5px;

        background: green;

        border-radius: 5px;

        color: white;
      }
      .pickup {
        background: blue;
      }
    }
  }
}
